openapi: 3.1.0
info:
  version: '2.0.0'
  title: 'BeyondTrust Privileged Remote Access Reporting API v2'
  description: |
    <a id="__overview"></a>

    ## Overview

    The BeyondTrust Privileged Remote Access Reporting API v2 returns operational reports about Assets over JSON.
    All endpoints are versioned under `/api/reporting/v2`.

    <a id="__overview_authentication"></a>

    ### Authentication

    The Reporting API v2 requires OAuth 2 credentials for authentication using the same API
    account model as the other BeyondTrust Privileged Remote Access APIs. Create an API account on the
    **/login > Management > API Configuration** page with the appropriate reporting permission,
    then exchange the OAuth client id and secret for a Bearer token at
    `https://pf34d701.beyondtrustcloud.com/oauth2/token` and include it on each request as
    `Authorization: Bearer <token>`.

    <a id="__overview_request_headers"></a>

    ### Required Request Headers

    - `Authorization: Bearer <token>` &mdash; the OAuth 2 access token obtained above.
    - `Accept: application/json` &mdash; the API only returns JSON.

    <a id="__overview_http_methods"></a>

    ### HTTP Request Methods

    The Reporting API v2 uses standard HTTP verbs (`GET`, `DELETE`) and follows REST conventions.

    <a id="__overview_status_codes"></a>

    ### Common HTTP Status Codes

    - `200 OK` &mdash; the request succeeded.
    - `204 No Content` &mdash; the request succeeded and there is no response body.
    - `400 Bad Request` &mdash; the request was malformed.
    - `403 Forbidden` &mdash; the API account lacks the required permission.
    - `404 Not Found` &mdash; the requested resource does not exist.
    - `422 Unprocessable Entity` &mdash; the request body failed validation.

    <a id="__overview_pagination"></a>

    ### Pagination

    List endpoints accept `limit` and `offset` query parameters. The response includes
    `count`, `offset`, `limit`, and `total` fields under `data` so clients can page through
    the full result set.

    <a id="__overview_date_times"></a>

    ### Date-Time Formatting and Time Zones

    Timestamps are returned as strings in ISO 8601 / RFC 3339 format unless otherwise noted.

    <a id="__overview_integers"></a>

    ### Integers

    All integer fields fit within a signed 32-bit range unless otherwise documented.
servers:
  - url: https://pf34d701.beyondtrustcloud.com
    description: Production / Appliance Host
security:
  - oauth2: []
tags:
  - name: DuplicateJumpClients
paths:
  /api/reporting/v2/duplicate-jump-clients:
    get:
      operationId: reporting.jump-item.duplicate-clients
      tags: [DuplicateJumpClients]
      summary: Duplicate Jump Clients report
      description: |
        Returns all Jump Clients that share a system identifier with at least one other client,
        indicating potential duplicates. Each item includes the client name, Jump Group, install
        time, comments, tag, connection status, and the count of duplicate clients sharing the
        same system identifier. Requires the Duplicate Jump Clients Reports permission.
      parameters:
        - name: id
          in: query
          schema: { type: integer, minimum: 1 }
          description: Exact-match filter on Jump Client id.
        - name: name
          in: query
          schema: { type: string }
          description: Case-insensitive substring filter on client name.
        - name: jump_group
          in: query
          schema: { type: string }
          description: Case-insensitive substring filter on Jump Group name.
        - name: comments
          in: query
          schema: { type: string }
          description: Case-insensitive substring filter on comments.
        - name: tag
          in: query
          schema: { type: string }
          description: Case-insensitive substring filter on tag.
        - name: system_identifier
          in: query
          schema: { type: string }
          description: Case-insensitive substring filter on system identifier.
        - name: status
          in: query
          schema: { type: string, enum: [online, offline] }
          description: Exact-match filter on current connection status.
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 5000, default: 500 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateJumpClientsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      operationId: reporting.jump-item.duplicate-clients.delete
      tags: [DuplicateJumpClients]
      summary: Delete duplicate Jump Clients
      description: |
        Deletes Jump Clients from one or more duplicate groups. Accepts either an explicit
        list of `ids` or a list of `system_identifiers`; the two are mutually exclusive.

        - When `ids` is supplied, the listed Jump Clients are deleted. The request fails with
          `422 Unprocessable Entity` if the set would remove every Jump Client in any
          duplicate group — at least one client must remain in each group. Pass
          `allow_delete_all: true` to lift this guard and let the set empty entire groups.
        - When `system_identifiers` is supplied, every Jump Client in each named duplicate
          group is deleted except one survivor per group. The survivor is chosen as the most
          recently connected client, falling back to the most recently deployed client when
          connection times tie. Pass `allow_delete_all: true` to delete every Jump Client in
          every supplied group — no survivors are kept.

        The API account must have the Duplicate Jump Clients Reports permission.
        Accounts without it receive `403 Forbidden`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  minItems: 1
                  items: { type: integer, minimum: 1 }
                  description: |
                    Jump Client ids to delete. Required when `system_identifiers` is not
                    provided; mutually exclusive with it.
                system_identifiers:
                  type: array
                  minItems: 1
                  items: { type: string, minLength: 1 }
                  description: |
                    System identifiers of duplicate groups. For each group, every Jump
                    Client is deleted except for one survivor,
                    unless `allow_delete_all` is true. Required when `ids` is not
                    provided; mutually exclusive with it.
                allow_delete_all:
                  type: boolean
                  default: false
                  description: |
                    When true, lift the keep-one guard. With `ids`, the supplied set may
                    empty entire duplicate groups; the 422 that would otherwise be
                    returned is replaced with a successful delete. With `system_identifiers`,
                    every Jump Client in each supplied group is deleted, including the rows
                    that would otherwise have been kept as survivors.
              oneOf:
                - required: [ids]
                - required: [system_identifiers]
      responses:
        '204':
          description: No Content. Deletion completed.
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: |
            No matching Jump Clients found, or one or more of the supplied
            `system_identifiers` does not match any duplicate group.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422':
          description: |
            Validation failed. Returned when `ids` and `system_identifiers` are both supplied,
            when neither is supplied, or when the supplied `ids` would empty a duplicate group.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
  /api/reporting/v2/duplicate-jump-clients/{id}:
    get:
      operationId: reporting.jump-item.duplicate-clients.show
      tags: [DuplicateJumpClients]
      summary: Get a single duplicate Jump Client
      description: |
        Returns a single Jump Client from the duplicate set by its id. Responds
        `404 Not Found` when the id either doesn't exist or isn't sharing a
        system identifier with any peer (i.e. not actually a duplicate).
        Requires the Duplicate Jump Clients Reports permission.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
          description: Jump Client id.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/DuplicateJumpClient' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: No duplicate Jump Client with that id.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://pf34d701.beyondtrustcloud.com/oauth2/token
          scopes: {}
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: Not Found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
  schemas:
    ErrorResponse:
      type: object
      properties:
        message: { type: string }
        errors:
          type: object
          additionalProperties:
            type: array
            items: { type: string }
          description: |
            Per-field validation errors keyed by field name. Populated for
            422 Unprocessable Entity responses; omitted for other error
            statuses.
    DuplicateJumpClient:
      type: object
      properties:
        id: { type: integer, description: 'Jump Client ID' }
        name: { type: string, description: 'Jump Client display name' }
        jump_group: { type: string, description: 'Resolved Jump Group name' }
        install_time: { type: string, description: 'Jump Client deployment timestamp' }
        comments: { type: string, nullable: true }
        tag: { type: string, nullable: true }
        status: { type: string, enum: [online, offline], description: 'Current connection status' }
        system_identifier: { type: string, description: 'Hardware/MAC-derived identifier used to detect duplicates' }
    DuplicateJumpClientsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            items: { type: array, items: { $ref: '#/components/schemas/DuplicateJumpClient' } }
            count: { type: integer }
            offset: { type: integer }
            limit: { type: integer }
            total: { type: integer }
